.wrapper {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  display: flex;
  place-items: center;
  justify-content: center;
}
.loading {
  border: 10px solid #eeeeee;
  border-top: 10px solid #2196f3;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
